*{
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
}
.cal-main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 50px;
}
.display{
    width: 35%;
    height: 80px;
    background-color: rgb(255, 0, 43);
    border: 4px solid black;
}
.buttons{
    display: flex;
    flex-direction: column;
}
button{
    padding: 15px;
    margin: 5px;
}